/* Responsive */

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
}

.mission {
    height: 200px;
}

div li a,
nav ul li a {
    color: black;
}

.nav,
footer.page-footer {
    background-color: #BADEEB;
}

#dropdownIcon {
    display: none;
}

.logo {
    height: 64px;
}

.menu {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 25px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

@media screen and (max-width: 600px) {
    .logo {
        height: 56px;
    }
}

@media screen and (max-width: 530px) {
    #nav-mobile li:not(:nth-child(1)) {
        display: none;
    }
    #dropdownIcon {
        display: block;
    }
    /* show login and sign up on side nav */
    #hide a {
        display: none !important;
    }
}